/*********************Settings for all pages*********************/

body {
  background-image: url(../images/old_moon.png);
}
.bg-navbar {
  background-color: #fff;
  font-family: "Georgia", Times, Times New Roman, serif;

  border-bottom-color: #cccccc;
  margin: 0 auto;
}
.myTeal {
  background-color: #4aaaa5;
  color: #fff;
}
.myContainer {
  font-family: "Arial", "Hlevetica Neue", Helvetica, sans-serif;
  color: #777777;
}
h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
}
.container {
  background-color: #fff;
  margin-top: 20px;
  width: 66%;
  margin-bottom: 60px;
}
footer {
  border-top: 5px solid #4aaaa5;
  text-align: center;
  background-color: #666666;
  float: clear;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
}
/**********Profile Page **********************/
.myProfilePic {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  /* position: relative; */
  border: unset;
}
.myProfileText {
  margin-left: 10px;
}
.thumbnail {
  border: unset;
}
.profileRow {
  display: inline-block;
}
.profileRow p {
  margin-left: 20px;
}
/********Portfolio Page ****************/
.pictureDiv {
  margin-bottom: 10px;
  margin-right: 10px;
}

.imgText {
  position: absolute;
  top: 140px;
  width: 200px;
  background-color: #4aaaa5;
  color: #fff;

  text-align: center;
}

/**********Contact Page ****************/
#mySubmit {
  background-color: #4aaaa5;
  margin-bottom: 20px;
}

/*********MQ************/
@media screen and (max-width: 640px) {
  header {
    width: 100%;
    text-align: center;
  }
  .container {
    width: 100%;
  }

  .myProfliePic {
    /* float: none; */
    width: 100%;
    margin: 20px;
    align-content: center;
  }
}
